# Core functionality - changes here should be rare!
/src/app.py                   @AbhiramKolalapudi
/src/backend/database.py      @AbhiramKolalapudi
/src/backend/routers/auth.py  @AbhiramKolalapudi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AbhiramKolalapudi
